a:hover {
  cursor: pointer;
}
.thumbnail {
  min-height: 190px;
  text-align: center;
}
#content {
  padding-bottom: 100px;
}
footer {
  background-color: #222;
  color: #9d9d9d;
  height: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.copyright {
  text-align: center;
  line-height: 35px;
  padding-top: 10px;
}
