<header>
  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" ng-href="#">
          <span class="glyphicon glyphicon-home"></span> Catalog
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">
          <li ng-repeat="category in categories" ng-class="{'active' : category.id == categoryID }">
            <a ng-click="goToCategory(category.id)">{{category.name}}</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right acme-navbar-text">
          <li class="dropdown" uib-dropdown="" keyboard-nav="">
            <a id="simple-btn-keyboard-nav" class="dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
              Settings <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="simple-btn-keyboard-nav">
              <li role="menuitem"><a ng-click="goToNewProduct()">Add new product</a></li>
              <li role="menuitem"><a ng-click="goToNewCategory()">Add new category</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container" id="content" ui-view>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="product in products">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{product.name}}</h3>
          <p>{{product.price}} $</p>
          <button type="button" ng-click="goToEditProduct(product.id)" class="btn btn-primary btn-lg btn-block">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p class="copyright">©2017 Andrei Nastas. All rights reserved.</p>
  </div>
</footer>
