<h1>Edit Product</h1>
<div class="col-lg-6 col-sm-12">
  <form>
    <div class="form-group" >
      <label for="productName">Product Name</label>
      <input type="text" ng-model="product.name" class="form-control" id="productName">
    </div>
    <div class="form-group">
      <label for="productPrice">Product Price</label>
      <input type="number" ng-model="product.price" class="form-control" id="productPrice">
    </div>
    <div class="form-group">
      <label>Product Category</label>
      <div class="checkbox">
        <label class="checkbox-inline" ng-repeat="category in categories">
          <input type="checkbox" ng-checked="category.check" ng-change="addRemoveCategory(category.id)" ng-model="Cd[$index]"> {{category.name}}
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-default" ng-click="save(product)">Submit</button>
  </form>
</div>

