<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="product in products">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{product.name}}</h3>
        <p>{{product.price}} $</p>
        <button type="button" ng-click="goToEditProduct(product.id)" class="btn btn-primary btn-lg btn-block">Edit</button>
      </div>
    </div>
  </div>
</div>
