<h1>New Category</h1>
<div class="col-lg-6 col-sm-12">
  <form>
    <div class="form-group">
      <label for="categoryName">Category Name</label>
      <input type="text" ng-model="category.name" class="form-control" id="categoryName">
    </div>
    <button type="submit" class="btn btn-default" ng-click="save(category)">Submit</button>
  </form>
</div>
